h1{ 
    font-family: "Georgia";
    font-size: 50px;
    font-weight: bold;
    color: #1A5276 ;
    text-align:center;
  }
  h3{ 
    font-family:"Lucida Handwriting";
    font-size: 30px;
    font-weight: bold;
    color: #031214;
    text-align:center;
  }
